{{- $context := . -}}
{{- $val := .Get "val" -}}
{{- $lang := .Get "lang" -}}
{{- $link := .Get "link" -}}
{{- $translations := dict 
    "en" "niv"
    "de" "schl2000"
    "tr" "tcl02"
    "ind" "tsi"
-}}
{{- $translation := index $translations $lang -}}
{{- $book := index (split $link ":") 0 -}}
{{- $chapter := index (split (index (split $link ":") 1) ",") 0 -}}
{{- $verse := index (split (index (split $link ",") 1) "-") 0 -}}
{{- $verseto := index (split (index (split $link ",") 1) "-") 1 -}}
<span class="bible-link" data-translation="{{- $translation -}}" data-book="{{- $book -}}" data-chapter="{{- $chapter -}}" data-verse="{{- $verse -}}" data-verse-end="{{- $verseto -}}">{{- $val -}}</span>