{{- $context := . -}}
{{- $val := .Get "val" -}}
{{- $link := .Get "link" -}}

{{- $linkParts := split $link "#" -}}
{{- $path := index $linkParts 0 -}}
{{- $fragment := "" -}}
{{- if gt (len $linkParts) 1 -}}
  {{- $fragment = index $linkParts 1 -}}
{{- end -}}
{{- if not (hasSuffix $path "/") -}}
  {{- $path = print $path "/" -}}
{{- end -}}

{{- range union .Site.RegularPages .Site.Sections -}}
  {{- if hasSuffix .RelPermalink $path -}}
    {{- $final_link := .RelPermalink -}}
    {{- if ne $fragment "" -}}
        {{- $final_link = print .RelPermalink "#" (index (split $fragment "/") 0) -}}
    {{- end -}}
     <a href="{{- $final_link -}}" class="internal"><span>{{- $val -}}</span></a>
  {{- end -}}
{{- end -}}