{{ define "main" }}
{{- $digDeeper := (T "digDeeper") | default "Dig Deeper"}}
{{- $sources := (T "sources") | default "Sources"}}
{{- $readBefore := (T "readBefore") | default "Read Before"}}
{{- $pages := (T "pages") | default "pages"}}
{{- $sourceLink := dict 
    "beale_rev" "G.K. Beale, Revelation" 
    "backham_rev" "Richard Bauckham: The theology of the book of Revelation" 
    "aune_rev" "David Aune: Revelation" 
    "goreham" "Michael Goreman: Reading Revelation Responsible" 
    "bauckham_climax" "Richard Bauckham: The climax of prophecy" 
    "fee_rev" "Gordon Fee: Revelation" 
    "koester_rev" "Köster, Revelation and the end of all things" 
    "dorsey" "David Dorsey: The literary structure of the Old Testament" 
    "walsh" "Jerome T. Walsh, Biblical Hebrew Narrative" 
    "beale_dwell" "G.K.Beale, Kim Mitchell: God dwells among us" 
    "richter" "Sandra L. Richter: The epic of Eden" 
    "beale_theo" "G.K.Beale: A New Testament Biblical Theology" 
    "sarna_gen" "Nahum Sarna: Understanding Genesis" 
    "sarna_exo" "Nahum Sarna: Exodus" 
    "daniel" "Wuppertaler Studienbibel: Der Prophet Daniel" 
    "dabar_daniel" "Dabarlines, The book Daniel" 
    "rossing" "Barbara R. Rossing: The Rapture Exposed"
    }}
  <div class='hx-mx-auto hx-flex {{ partial "utils/page-width" . }}'>
    {{ partial "sidebar.html" (dict "context" . "disableSidebar" true "displayPlaceholder" true) }}
    {{ partial "toc.html" . }}
    <article class="hx-w-full hx-break-words hx-flex hx-min-h-[calc(100vh-var(--navbar-height))] hx-min-w-0 hx-justify-center hx-pb-8 hx-pr-[calc(env(safe-area-inset-right)-1.5rem)]">
      <main class="hx-w-full hx-min-w-0 hx-max-w-6xl hx-px-6 hx-pt-4 md:hx-px-12">
        <br class="hx-mt-1.5 hx-text-sm" />
        <h1 class="hx-text-center hx-mt-2 hx-text-4xl hx-font-bold hx-tracking-tight hx-text-slate-900 dark:hx-text-slate-100">{{ .Title }}</h1>
        <div class="hx-mb-16"></div>
        <div class="content">
          {{- if .Params.readBefore -}}  
          <h2>{{ $readBefore }}</h2>
            <div class="hextra-cards hx-mt-4 hx-gap-4 hx-grid not-prose" style="--hextra-cards-grid-cols: 3;">
            <ul>
              {{- range .Params.readBefore -}}
                {{ partial "shortcodes/card" (dict "title" .name "link" .link "icon" "book-open") }}
              {{- end -}}
              </ul>
            </div>
          {{- end -}}
          {{ .Content }}
          {{- if .Params.deeper -}}  
          <h2>{{ $digDeeper }}</h2>
            <div class="hextra-cards hx-mt-4 hx-gap-4 hx-grid not-prose" style="--hextra-cards-grid-cols: 3;">
            <ul>
              {{- range .Params.deeper -}}
                {{ partial "shortcodes/card" (dict "title" .name "link" .link "icon" "sparkles") }}
              {{- end -}}
              </ul>
            </div>
          {{- end -}}
          {{- if .Params.sources -}}  
          <h2>{{ $sources }}</h2>
            <div class="hextra-cards hx-mt-4 hx-gap-4 hx-grid not-prose" style="--hextra-cards-grid-cols: 3;">
            <ul>
              {{- range .Params.sources -}}
                {{- $name := index $sourceLink .ref }}
                {{- $title := $name }}
                {{- $base := "../../../../" }}
                {{- if .base -}}
                    {{- $base := .base }}
                {{- end -}}
                {{- if .pages -}}
                    {{- $title := print $name ", " $pages " " .pages -}}
                {{- end -}}
                {{- $link := print .base "about/ressources/index.html#" .ref -}}
                {{ partial "shortcodes/card" (dict "title" $title "link" $link "icon" "at-symbol") }}
              {{- end -}}
              </ul>
            </div>
          {{- end -}}
        </div>
        <div class="hx-mt-16"></div>
        {{ partial "components/comments.html" . }}
      </main>
    </article>
  </div>
{{ end }}
