{{ define "main" }}
{{- $readingTime := (T "readingtime") | default "Appr. reading time" -}}
{{- $minute := (T "minute") | default "minute" -}}
{{- $minutes := (T "minutes") | default "minutes" -}}
{{- $readBefore := (T "readBefore") | default "Read Before" -}}
{{- $quick := (T "quick") | default "Quick" -}}
{{- $story := (T "story") | default "Story" -}}
{{- $explanation := (T "explanation") | default "Explanation" -}}
{{- $application := (T "application") | default "Application" -}}
{{- partial "custom/bible" (dict "lang" .Language.Lang) -}}

  <div class='hx-mx-auto hx-flex {{ partial "utils/page-width" . }}'>
    {{ partial "sidebar.html" (dict "context" . "disableSidebar" false "displayPlaceholder" true "params" .Params "regPages" .Site.RegularPages "sections" .Site.Sections "pages" .Site.Pages) }}
    {{ partial "toc.html" . }}
    <article class="hx-w-full hx-break-words hx-flex hx-min-h-[calc(100vh-var(--navbar-height))] hx-min-w-0 hx-justify-center hx-pb-8 hx-pr-[calc(env(safe-area-inset-right)-1.5rem)]">
      <main class="hx-w-full hx-min-w-0 hx-max-w-6xl hx-px-6 hx-pt-4 md:hx-px-12">
        <br class="hx-mt-1.5 hx-text-sm" />
        {{- partial "custom/title.html" (dict "docType" .Params.docType "title" .Title) -}}
        {{- if and (not (eq .ReadingTime 0)) (not (eq .ReadingTime 1)) -}}
            <div class="hextra-cards hx-mt-4 hx-gap-4 hx-grid not-prose" style="--hextra-cards-grid-cols: 3;">
            <ul>
            {{- $reading := print $readingTime ": " .ReadingTime " " $minutes -}}
            {{ partial "shortcodes/card" (dict "title" $reading "icon" "book-open") }}
            </ul>
            </div>
        {{- end -}}
        <div class="content">
          {{- if and (.Params.base) (or (hasPrefix .RelPermalink "/expl") (hasPrefix .RelPermalink "/appl")) -}}  
            <div class="hextra-cards hx-mt-4 hx-gap-4 hx-grid not-prose" style="--hextra-cards-grid-cols: 1;">
            {{- $base := .GetPage .Params.base -}}
            {{ partial "shortcodes/card" (dict "title" $quick "subtitle" $base.Title "link" $base.RelPermalink "icon" "refresh") }}
            </div>
          {{- end -}}

          {{- partial "custom/read_before.html" (dict "params" .Params) -}}
          
          {{ .Content }}
          
          {{- $prev := .Params.prev }}
          {{- $next := .Params.next }}
          {{- if $prev -}}
            {{- $prev = .GetPage $prev -}}
          {{- end -}}
          {{- if $next -}}
            {{- $next = .GetPage $next -}}
          {{- end -}}
          
          {{- partial "custom/prev_next.html" (dict "prev" $prev "next" $next) -}}
          {{- if and (.Params.base) (not (or (hasPrefix .RelPermalink "/expl") (hasPrefix .RelPermalink "/appl"))) -}}  
            <div class="hextra-cards hx-mt-4 hx-gap-4 hx-grid not-prose" style="--hextra-cards-grid-cols: 1;">
            {{- $base := .GetPage .Params.base -}}
            {{ partial "shortcodes/card" (dict "title" $quick "subtitle" $base.Title "link" $base.RelPermalink "icon" "refresh") }}
            </div>
          {{- end -}}
          
          {{- if .Params.story -}}  
            <div class="hextra-cards hx-mt-4 hx-gap-4 hx-grid not-prose" style="--hextra-cards-grid-cols: 1;">
            {{- $story_page := .GetPage .Params.story -}}
            {{ partial "shortcodes/card" (dict "title" $story "subtitle" $story_page.Title "link" $story_page.RelPermalink "icon" "pencil") }}
            </div>
          {{- end -}}

          {{- if .Params.appl -}}  
            <div class="hextra-cards hx-mt-4 hx-gap-4 hx-grid not-prose" style="--hextra-cards-grid-cols: 1;">
            {{- $appl := .GetPage .Params.appl -}}
            {{ partial "shortcodes/card" (dict "title" $application "subtitle" $appl.Title "link" $appl.RelPermalink "icon" "chat") }}
            </div>
          {{- end -}}

          {{- if .Params.expl -}}  
            <div class="hextra-cards hx-mt-4 hx-gap-4 hx-grid not-prose" style="--hextra-cards-grid-cols: 1;">
            {{- $expl := .GetPage .Params.expl -}}
            {{ partial "shortcodes/card" (dict "title" $explanation "subtitle" $expl.Title "link" $expl.RelPermalink "icon" "chat") }}
            </div>
          {{- end -}}
            
          {{ partial "custom/deeper" (dict "params" .Params.deeper "pages" .Site.RegularPages) }}
          
          {{- $aboutPage := .GetPage "/about" -}}
          {{ partial "custom/sources" (dict "page" $aboutPage "params" .Params.sources) }}

        <div class="hx-mt-16"></div>
        {{ partial "components/comments.html" . }}
      </main>
    </article>
  </div>
{{ end }}
